.App {
  text-align: center;
  background-color: #f7f7f7;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*=========== CUSTOM STYLE ===========*/

.questionInput input {
  text-align: center !important;
  font-style: italic;
}

.cardShadow {
  box-shadow: rgb(204, 204, 204) 0px 1px 2px;
}
